$primary: rgb(133, 51, 153);
$secondary: rgb(228, 5, 5);
$tertiary: rgb(206, 206, 206);
$backfround-special: linear-gradient(rgb(206, 206, 206), #fffa75);

$biggest-second-spacing: 300px;
$biggest-spacing: 50px;
$smallest-spacing: 25px;

$space-big: 20px;
$space-little: 10px;
$padding-main: 25px;
$margin-main: 25px;

$small-font-size: 0.7em;
$default-font-size: 1.1em;
$title-font-size: 4em;
$big-font-size: 1.3em;
$default-weight: 600;

$border-standard: 2px solid black;
$radius-standard: 20px;
$pills: 50px;

$no-deco-text: none;

$tamarro-font: "Honk", system-ui;
$standard-font: "SUSE", sans-serif, sans-serif;

$light-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
$strong-shadow: 0 0 10px rgba(0, 0, 0, 1);
$red-shadow: 0 0 10px rgb(228, 5, 5);
